@font-face {
    font-family: "Sporting Grotesque";
    src: url('Sporting_Grotesque-Bold_web.woff') url('Sporting_Grotesque-Bold_web.woff2');
}

@font-face {
    font-family: "Sporting Grotesque";
    src: url('Sporting_Grotesque-Regular_web.woff') url('Sporting_Grotesque-Regular_web.woff2');
}