@keyframes FadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@keyframes animate {
    0% {
        opacity:0;
        }    
    15%{
        opacity: 1;
    }
    95%{
        opacity:1;
    }
    100%{
        opacity:0;
    }
}

body {
    background-color:#E8E8E8;
    color:#fff;
    font-family:'Sporting Grotesque';
    font-weight:bold;
    overflow: hidden;
    margin:0;

}





header h1 {
        font-size:18px;
        top:10px;
        left:20px;
        position: absolute;
}

.info {
    width:600px;
    font-size: 24px;
    line-height:2.4;
    font-weight: 800;
    animation: FadeIn 3s ease;
    z-index: 10;
    top:50%;
    left:50%;
   margin-right:auto;
   margin-left:auto;
   position:fixed;
   transform:translate(-50%,-50%);
}


.back-to-top {
    display:none;
}

 a{
    text-decoration:none;
    color:#FF994F;

}

.mobile-images {
    display:none;
}

footer {
    position: absolute;
    bottom:10px;
    left:20px;
    
}

div.images {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
  }
  div.images img {
    max-width:500px;
    max-height:600px;
    position: absolute;
    transform: translate(-50%, -50%);
    animation: animate 6s both;
    box-shadow: 0 8px 6px -6px black; 

}

@media (max-width:500px) {
    .info {
        width:90%;
        font-size:18px;
        margin-top:75px;
        margin-right:20px;
        margin-left:20px;
        top:0;
        left:0;
        transform:none;
        position:relative;
        
    }


    footer {
        display:none;
    }

    .mobile-images {
        display: block;
        text-align:center;

    }
    .photos img {
        width:280px;
        padding-top:10px;
        padding-bottom:40px;
    }
    body {
        overflow-y: visible;
    }

    .images {
        display:none;
    }

    .back-to-top {
        width:100%;
        display:flex;
        justify-content:center;
        text-align:center;
        bottom:0;
        padding-bottom:40px;
    }
}